@import url('https://fonts.googleapis.com/css2?family=Abel&family=DM+Serif+Display:ital@0;1&family=Monoton&family=Sevillana&display=swap');

.body{
    color: blue;
}
.title {
    font-size: 25pt;
    font-family: 'DM serif Display';
}
.display-4{
  font-weight: 100;
}
.anytime-title{
  font-weight: 500;
}

.meet-team {
    color: rgb(186, 29, 29);
}

.mainpg-button {
    color: white;
    background-color: red;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: rgb(184, 58, 58);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.background-color-main {
    background-color: rgb(248, 245, 245);
}
/* .individual-card{

} */
